body {
  background-color: #143f6b;
  color: white;
}

header {
  background-color: black;
  color: #f55353;
  text-align: center;
  height: 4rem;
}

header h1 {
  font-size: 1.875rem;
  font-weight: bolder;
  line-height: 4rem;
}

.clickable:hover {
  filter: brightness(0.7);
}

// The colors are marked as important so that Bootstrap doesn't
// overwrite them when hovering over an element with the cursor.

.card-color {
  color: black !important;
  background-color: #f6f54d !important;
}

.button-color {
  background-color: #feb139 !important;
  color: black !important;
  box-shadow: 2px 2px 2px !important;
}
